<app-sidebar>
    <div class="border shadow d-flex justify-content-between align-items-center mb-5" style="height: 40vh; overflow-y: hidden;">
        <div class="px-4" style="text-align: justify;">
            <h1 class="text-dark">TASKS</h1>
            <p style="line-height: 2rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cumque ipsam iste sint, recusandae quibusdam quia sit numquam suscipit delectus aliquam in harum, cum neque. Ducimus, dignissimos, quo sequi quae accusantium eos nisi beatae perspiciatis doloremque rem, corporis amet! Dolorum explicabo saepe laudantium itaque nostrum? Reiciendis, commodi. !</p>
        </div>
       <img src="https://media0.giphy.com/media/zbzuZgxt23h8ywu7Bm/giphy.gif" alt="Animated Robot" height="350">
    </div>
    <div class="container d-flex justify-content-between flex-wrap gap-4">
        <app-card>
            <img
            src="https://api.dicebear.com/7.x/adventurer/svg?seed=Boots"
            alt="avatar" style="height: 60%;" class="border " id="img"/>
            <div id="content" >
                <blockquote class="px-2 pt-2 " >
                    <h5>Title</h5>
                    <p class="text-overflow-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                </blockquote>
            </div>
        </app-card>
        <app-card>
            <img
            src="https://api.dicebear.com/7.x/adventurer/svg?seed=Boots"
            alt="avatar" style="height: 60%;" class="border " id="img"/>
            <div id="content" >
                <blockquote class="px-2 pt-2 " >
                    <h5>Title</h5>
                    <p class="text-overflow-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                </blockquote>
            </div>
        </app-card>
        <app-card>
            <img
            src="https://api.dicebear.com/7.x/adventurer/svg?seed=Boots"
            alt="avatar" style="height: 60%;" class="border " id="img"/>
            <div id="content" >
                <blockquote class="px-2 pt-2 " >
                    <h5>Title</h5>
                    <p class="text-overflow-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                </blockquote>
            </div>
        </app-card>
        <app-card>
            <img
            src="https://api.dicebear.com/7.x/adventurer/svg?seed=Boots"
            alt="avatar" style="height: 60%;" class="border " id="img"/>
            <div id="content" >
                <blockquote class="px-2 pt-2 " >
                    <h5>Title</h5>
                    <p class="text-overflow-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                </blockquote>
            </div>
        </app-card>
        <app-card>
            <img
            src="https://api.dicebear.com/7.x/adventurer/svg?seed=Boots"
            alt="avatar" style="height: 60%;" class="border " id="img"/>
            <div id="content" >
                <blockquote class="px-2 pt-2 " >
                    <h5>Title</h5>
                    <p class="text-overflow-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                </blockquote>
            </div>
        </app-card>
        <app-card>
            <img
            src="https://api.dicebear.com/7.x/adventurer/svg?seed=Boots"
            alt="avatar" style="height: 60%;" class="border " id="img"/>
            <div id="content" >
                <blockquote class="px-2 pt-2 " >
                    <h5>Title</h5>
                    <p class="text-overflow-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                </blockquote>
            </div>
        </app-card>
        <app-card>
            <img
            src="https://api.dicebear.com/7.x/adventurer/svg?seed=Boots"
            alt="avatar" style="height: 60%;" class="border " id="img"/>
            <div id="content" >
                <blockquote class="px-2 pt-2 " >
                    <h5>Title</h5>
                    <p class="text-overflow-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                </blockquote>
            </div>
        </app-card>
        <app-card>
            <img
            src="https://api.dicebear.com/7.x/adventurer/svg?seed=Boots"
            alt="avatar" style="height: 60%;" class="border " id="img"/>
            <div id="content" >
                <blockquote class="px-2 pt-2 " >
                    <h5>Title</h5>
                    <p class="text-overflow-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                </blockquote>
            </div>
        </app-card>


    </div>
</app-sidebar>
